@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  background-color: #F5F5F5;
  color: #1C1C1C;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.input-field {
    @apply w-full border-b border-gray-300 py-2 text-sm bg-transparent focus:outline-none focus:border-black transition-colors placeholder-gray-400;
}